<ion-view title="Challenge your knowledge">
    <ion-content style="background: url('http://blogimg.radikal.com.tr/Blogs/2013/04/12/needhelp-0D96-D8EB-1B1B.jpg') no-repeat center; background-size: contain;">

                <div style="position: absolute; bottom: 0; width: 100%">
                    <a href="#/technologies" class="button button-block button-positive button-bottom">
                        TAKE THE CHALLENGE
                    </a>

                </div>

    </ion-content>
</ion-view>