<ion-view>

    <ion-content on-swipe-left="nextQuestion()" on-swipe-right="previousQuestions()">


                <div ng-model="question" class="padding-left padding-right">

                    <div class="item item-avatar">
                        <img ng-src="{{question.technologyLogo}}">
                        <h2>Marty McFly</h2>
                        <button class="button button-small" ng-click="calculateCorrectAnswers()">Show results</button>
                        <a href="#/showResult/{{correct}}" class="button button-small button-aseertivre" ng-click="showGraphic()">Show graphic</a>
                    </div>

                    <div class="item item-body">
                        <h2 class="questionText">
                            {{question.question.trim()}}
                        </h2>
                        <p>
                            <a href="#" class="subdued">1 Like</a>
                            <a href="#" class="subdued">5 Comments</a>
                            <button class="button button-small" ng-click="speakQuestion(question.question.trim())"> Speak</button>
                            <button class="button button-small button-assertive" ng-click="voiceAnswer()">Answer</button>
                        </p>
                    </div>

                    <div>
                        <ul class="list">
                            <li ng-repeat="answer in question.answers" class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="radio" name="group1" value="{{answer.id}}"
                                           ng-model="value" ng-change="changeCheckedAnswer(value)" ng-checked="checkAnswer(answer.id)"/>
                                </label>
                                {{answer.text}}
                            </li>
                        </ul>
                    </div>
                </div>

    </ion-content>

</ion-view>