<ion-view>
    <ion-content>
        <div class="row">
            <div id="chart" style="margin-left: auto; margin-right:auto;" ng-radial-gauge ranges="ranges" value="value" value-unit="unit"
                 precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
        </div>

        <button class="button button-balanced" ng-click="shareOnFacebook()"> Share on facebook</button>
        <button class="button" ng-click="toImage()"> to Image</button>
        <canvas id="canvas" width="1000px" height="600px" style="display:none;" fillRect="white"></canvas>
        <img id="binaryImage"/>
    </ion-content>
</ion-view>