<ion-view title="Summary">

    <ion-nav-buttons side="primary">
        <a class="button button-icon icon ion-log-out"  ng-controller="authenticationController" ng-click="logOut()"></a>
    </ion-nav-buttons>

    <ion-content class="stable-bg">
        <div class="card ">
            <div class="item item-icon-right" ng-hide="suggestions">
                <h2>Sorry</h2>
                <p>We don't have any suggestions for you</p>
                <i class="icon ion-chevron-down"></i>
            </div>
            <a href="#/companies" class="item item-icon-right" ng-show="suggestions">
                <h2>Congratiolation</h2>
                <p>We have some suggestions for you</p>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>

        <div class="card"  style="bottom: 0; height: 64%">
            <ion-scroll style="height: 100%">
                <div class="item item-body row padding" ng-repeat="question in questions" ng-click="showCorrectAnswer($index)">
                   <div class="col col-80">{{question.question}}</div>
                   <div class="col col-center" >

                         <i class="icon " ng-class="correctQuestion($index) ? 'ion-checkmark-circled balanced' : 'ion-close-circled assertive' "
                             style="font-size: 40px; float: right"></i>

                   </div>
                </div>
            </ion-scroll>
        </div>

        <div class="card">
            <a href="#/technologies"  class="button button-block button-positive" style="margin:0"> Taka a new challange</a>
        </div>
    </ion-content>
</ion-view>