<ion-view title="Available technologies">
    <ion-content class="stable-bg">

        <div class="">
            <ion-spinner ng-show="showSpinner" icon="ripple" class="spinner spinner-positive col col-33 col-offset-33" style="text-align: center"></ion-spinner>
        </div>

        <div class="card list">

            <a class="item item-avatar" href="#/question/{{technology.$id}}" ng-repeat="technology in technologies">
                <img ng-src="{{technology.picture.trim()}}">
                <h2>{{technology.label}}</h2>
                <p>Challenge your knowledge</p>
            </a>

        </div>
    </ion-content>
</ion-view>