/* Empty. Add your own CSS if you like */
.spinner svg {
    width: 88px;
    height: 88px;
}

.spinner {
    text-align: center !important;
}
.scroll {
    height: 100% !important;

}

.button-bottom {
    position: absolute !important;
    margin: auto !important;
    bottom: 0 !important;
    width: 100% !important;
}
