/* Empty. Add your own CSS if you like */
.spinner svg {
    width: 88px;
    height: 88px;
}

.spinner {
    text-align: center !important;
}
.scroll {
    height: 100% !important;
}

.button-bottom {
    position: absolute !important;
    margin: auto !important;
    bottom: 0 !important;
    width: 100% !important;
}

.nav-custom-btn {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 23px !important;
}

.img-fb-share {
    height: 60px;
    margin-left: auto;
    margin-top: -56px;
    z-index: 100;
    margin-right: 12px;

}

.slider {
    height: 90%;
}
.slider-slide {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    background-color: #fff;


    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

