/* Empty. Add your own CSS if you like */
.spinner svg {
    width: 88px;
    height: 88px;
}

.spinner {
    text-align: center !important;
}
.scroll {
    height: 100% !important;

}

.button-bottom {
    position: absolute !important;
    margin: auto !important;
    bottom: 0 !important;
    width: 100% !important;
}

.nav-custom-btn {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 23px !important;
}

.img-fb-share {
    height: 60px;
    margin-left: auto;
    margin-top: -56px;
    z-index: 100;
    margin-right: 12px;

}
